* {
    margin: 0;
    padding: 0;
}

body {
    font-family: Inter, Roboto, Arial, sans-serif;
}

#Nav {
    display: flex;
    width: 100%;
    height: 40px;
    background-image: url(https://adn-static1.nykaa.com/media/wysiwyg/2021/common-strip.jpg);
}

#upNav {
    width: 100%;
    height: 40px;

}

#dnav {
    display: flex;
    justify-content: space-evenly;
    margin: 0px 130px 0px 0px;
    align-items: center;
    width: 60%;
}

.nav-text>a:hover,
.dinner:hover a,.dinner:hover>svg {
    color: white;
}

.dinner {
    display: flex;
    align-items: center;
}
.dinner a{
    text-decoration: none;
    color: black;
}
.nav-text {
    height: 40px;
    display: flex;
    font-size: 16px;
    font-weight: 500;
    font-family: Inter, Roboto, Arial, sans-serif;
    align-items: center;
    margin: 0px 190px;
}


#lowerNav {
    width: 100%;
    height: 65px;
    border-bottom:0.5px solid rgb(202, 199, 199);
    background-color: white;
}

#lower {
    display: flex;
    gap: 20px;
}

#lowerNav {
    display: flex;
}

#nav-left {
    display: flex;
    margin-top: auto;
    margin-bottom: auto;
    gap: 20px;
}
.left>a {
    text-decoration-line: none;
    color: black;
    font-weight: bold;
}

.left>a:hover {
    color: #fc2779;
}

#nav-rigth {
    display: flex;
    margin: auto;
    align-items: center;
    justify-content: space-around;
    gap: 35px;

}

#nav-rigth input {
    width: 220px;
    padding: 10px;
    background-color: rgb(232, 232, 232);
    border: none;
}
#account{
    text-decoration: none;
    color:black;
}
#account:hover{
    color:#fc2779;
}
#acc {
    display: flex;
    align-items: center;
}
#mainNav{
  position: sticky;
  top: 0;
}
#footer-top{
    height: 150px;
    width: 100%;
    background-color: #3f414d;
    color: white;
    display: flex;
    align-items: center;
}
.top-end{
    display: flex;
    gap: 10px;
}
#child-top{
    width: 90%;
    display: flex;
    justify-content:space-evenly ;
    align-items: center;
    margin: auto;
}
.top-mid>p{
    margin-bottom: 10px;
}
.top-mid>p+a{
    margin-left: 30px;
}
#form input{
    color: rgb(255, 255, 255);
    background-color: transparent;
    border-top: none;
    border-right: none;
    border-left: none;
    border-image: initial;
    border-bottom: 1px solid rgb(255, 255, 255);
    width: 72%;
    outline: none;
    padding: 8px 5px;
    margin-right: 1%;
    font-size: 14px;
    font-weight: 400;
    line-height: 20px;
    letter-spacing: 0px;
}
#form{
    margin-top: 10px;
}
#form button{
    text-transform: uppercase;
    background-color: transparent;
    border: 1px solid rgb(255, 255, 255);
    padding: 6px 8px;
    border-radius: 2px;
    color: rgb(255, 255, 255);
    font-size: 12px;
    font-weight: 600;
    line-height: 20px;
}
form>input::placeholder {
    color: white;
  }
#content{
    height: 1000px;
}

#thirdFt{
    width: 100%;
    height: 210px;
}
#inner{
    width: 75%;
    height: 100%;
    margin: auto;
}

#thirdFt ul{
display: flex;
list-style: none;
justify-content: center;
margin-top: 15px;
gap: 10px;
}

#inner>div:nth-child(1){
    display: flex;
    gap: 50px;
}
#inner>div:nth-child(2){
   text-align: center;
}
#inner>div:nth-child(1)>div{
    display: flex;
    gap: 12px;
}
#inner>div:nth-child(1)>div>img{
    margin-top: -24px;
}
#inner>div:nth-child(1)>div>div>div:nth-child(2){
   font-size: 12px ;
   margin-top :14px;
}
#inner{
    display:flex ;
    justify-content:space-around;
    align-items: center;
}
#midFt{
    width: 100%;
    height: 400px;
    background-color: #8c8d94;
    display: flex;
    align-items:center ;
}
#lowFt{
    width: 100%;
    height: 85px;
    display: flex;
    background-color: #fc2779;
    text-align: center;
    align-items: center;
    margin-top: 70px;
}
.fa-solid, .fa-heart{
    color: #fc2779;
}
#mid-box{
    width: 70%;
    height:auto;
    margin: auto;
    display: flex;
    justify-content: space-between;
}
#mid-box>div{
    display: flex;
    flex-direction: column;
    gap: 14px;
}
#mid-box>div>a:nth-child(1){
    color: white;
    text-decoration-line: none;
    margin-bottom: 8px;
}
#mid-box>div>a:nth-child(1)~a{
    font-size: 12px;
    color: white;
    text-decoration-line: none;
}
#mid-box>div>a:nth-child(1)~a:hover{
    color: #fc2779;
}

#lowFt>div{
    display: flex;
    flex-direction: column;
    margin: auto;
    width: 40%;
    align-items: center;
    justify-content: space-between;
    height: 50px;
}
#lowFt>div>div:nth-child(1){
    display: flex;
    color: white;
    font-size: 11px;
    font-weight: none;
    gap:22px;
}
#lowFt>div>div:nth-child(2){
    font-size: 13px;
    font-weight: none;
    color: white;
}
#getapp{
    width: 100%;
    height: 580px;
    background: #fc2779 url(https://cdnr.nykaa.com/assets/desktop/images/install_app/install_app_bg.jpg) no-repeat top center/cover;
    display: flex;
    line-height: 40px;
}
#getapp>div{
    width: 80%;
    height: auto;
    margin: auto;
    display: flex;
    justify-content: space-between;
}
#getapp>div>div{
    width: 50%;
}
#getapp>div>div>img{
    width: 85%;
}
#getapp>div>div:nth-child(1){
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}
.app-btn {
    display: inline-block;
    background-color: #ffffff;
    border: 0;
    border-radius: 2px;
    box-shadow: 0 1px 2px 0 rgb(0 0 0 / 20%);
    color: #3f414d;
    font-size: 16px;
    font-weight: 600;
    line-height: 1.2;
    margin-right: 20px;
    padding: 15px 30px;
    text-align: center;
    text-decoration: none;
}
.sub-btn{
    color: #fff;
    width: 100px;
    height: 36px;
    border-radius: 2px;
    border: 0;
    background-color: #939393;
}
#mob{
    color: #3f414d;
    border: none;
    height: 36px;
    width: 231px;
    border: 0;
}
#ip{
    background-color: #fff;
    padding: 7px;
    max-width: 345px;
    margin-bottom: 15px;
}
#coverup{
    color: #fff;
}

#paras{
    width: 73%;
    height: auto;
    text-align: justify;
    margin: auto;
    margin-top: -20px;
}
.head{
    font-weight: 600;
    margin-top: 40px;
    color: #8c8d94;
}
.cont{
    line-height: 22px;
    margin-top: 20px;
    color: #8c8d94;
}

#blink {
    font-size: 30px;
    font-weight: bold;
    font-family: sans-serif;
    color: #1c87c9;
    transition: 0.4s;
  }

.sub-btn:hover{
background-color: #fc2779;
}
#form button:hover{
    background-color:#939393;
}